{% extends "base/modal.html" %}
{% load static %}

{% block modal_title %} Chat Room {% endblock %}


{% block modal_body %}
<form id="createRoomForm" class="mx-auto">
    <div class="mb-4 .form-error-msgs"></div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="roomName">
        Room Name
      </label>
      <input name="name"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="roomName" type="text" placeholder="Username">
      <p class="text-red-500 text-xs italic error"></p>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="roomType">
          Room Type
        </label>
        {% comment %} <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
            State
          </label> {% endcomment %}
          <div class="relative">
            <select name="type" class="shadow appearance-none w-full border text-gray-700 py-2 px-3 rounded leading-tight focus:outline-none  focus:shadow-outline" id="roomType">
              {% for key, room_type in roomType.items %}
                <option value="{{key}}">{{room_type}}</option>
              {% endfor %}
            </select>
            <p class="text-red-500 text-xs italic error"></p>
          </div>
      </div>


      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="members">
          Members
        </label>
            <input name="members" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="members" type="text" placeholder="select member">
            <p class="text-red-500 text-xs italic error"></p>
      </div>
      <div class="mb-4" id="memberList"></div>

    <div class="flex items-center justify-between">

      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Create Room
      </button>
    </div>
  </form>


{% endblock %}


{% block modal_button %}
{% endblock %}

{% block modal_loadscripts %}
<script type="text/javascript" src='{% static "js/chat-form.js" %}'></script>
{% endblock %}