# Application configuration variables
APP_NAME=backend
APP_HOST=0.0.0.0
APP_PORT=8000
SECRET_KEY='ur secret key'
APP_MODE='dev' # Could be dev, prod or test
DEBUG=True
ALLOWED_HOSTS='app.localhost.dev'
CSRF_TRUSTED_ORIGINS='https://*.localhost.dev'


# Postgres configuration variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db
