<div class=" no-room-skelton relative flex items-center p-3 border-b border-gray-300">
    <div class="animate-pulse flex space-x-4 space-y-1">
      <div class="rounded-full bg-gray-400 h-10 w-10"></div>
      <div class="flex-1 space-y-2 py-1">
        <div class="h-2 bg-gray-400 rounded"></div>
        <div class="space-y-1">
          <div class="grid grid-cols-3 gap-6">
            <div class="h-2 bg-gray-400 rounded col-span-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>